.timeline-node {
    width: 5px;
    height: 5px;
    border: 1px solid red;
}

.node {
    border-color: green;
    border-style: solid;
    border-radius: 50%;
}

.node-label {
    color: red;
}

.main-timeline {
    /*This is the style of the main, vertical timeline itself*/
    border-right: dashed blue; /*Will be applied if the labelPosition option is set to Left */
    border-left: solid green; /*Will be applied if the labelPosition option is set to Right */
}

.event-marker {
    border-bottom-color: black;
    border-bottom-style: solid;
    width: 10px; /*At present this is being overridden by the eventLabelWidthDefault option. Needs fixing*/
}

.event-label {
    font-size: 20px;
    color: green;
}

.zoom-button {
    width: 25px;
    height: 25px;
    display: block;
    padding: 0;
    font-size: 12px;
}
