.timeline-container * {
    box-sizing: content-box;
}

.timeline-node {
    width: 5px;
    height: 5px;
    border: 1px solid #000;
}

.node {
    border-color: #000;
    border-style: solid;
    border-radius: 50%;
}

.node-label {
    color: inherit;
}

a.node-label {
    text-decoration: none;
}

.main-timeline {
    /*This is the style of the main, vertical timeline itself*/
    border-right: solid #000; /*Will be applied if the labelPosition option is set to Left */
    border-left: solid #000; /*Will be applied if the labelPosition option is set to Right */
}

.event-marker {
    border-bottom-color: #000;
    border-bottom-style: solid;
    width: 10px; /*At present this is being overridden by the eventLabelWidthDefault option. Needs fixing*/
}

.event-label {
    font-size: 20px;
    color: inherit;
}

    .event-label.active {
        font-size: 1.5em;
        margin-top: -0.1em;
    }

.zoom-button {
    width: 25px;
    height: 25px;
    display: block;
    padding: 0;
    font-size: 12px;
}
