--- 
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #333 !default;
$header-bg-color-secondary: #333 !default;

@import "{{ site.theme }}";

.timeline-page-header {
    background-image: none;
    background-color: $header-bg-color;
    padding: 20px;
    text-align: center;
}